<div class="jumbotron"></div>
	<h1>Welcome to the Pizza Shop</h1>

	<img src="http://www.teresaspizza.com/pizza/wp-content/uploads/2011/10/Cheese-pizza-slice-highres.jpg"></img>

	<%= link_to "Check out our pizzas!", pizzas_path, class: "btn btn-default" %>
</div>